.map-container {
  height: 400px;
}

.sidebar {
  background-color: rgba(35, 55, 75, 0.8);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}

.marker {
  background-image: url('../../images/mapbox-icon.png');
  background-size: cover;
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  cursor: pointer;
}

.resortmodalcard {
  background-color: black;
  height: 400px;
  width: 400px;
  z-index: 1;
}

.markertitle {
  background-color: black;
  color: white;
  font-size: 80%;
  text-align: center;
}
