.map-container {
  height: 400px;
}

.sidebar {
  background-color: rgba(35, 55, 75, 0.8);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}

.marker {
  background-image: url('../../images/mapbox-icon.png');
  background-size: cover;
  cursor: pointer;
  width: 200%;
  padding-bottom: 100%;
  padding-top: 30%;
}

.markertitle {
  background-color: rgba(35, 55, 75, 0.8);
  color: white;
  text-align: center;
  width: 15vw;
  margin-left: 25%;
}

.resortmodalcard {
  background-color: black;
  height: 400px;
  width: 400px;
  z-index: 1;
}
