.resortpagebg {
  background-color: lightskyblue;
}

.resortcontainer {
  margin: 0%5%;
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding-bottom: 3%;
  background-color: lightgray;
}

.resorttitlecontainer {
  background-color: lightgray;
  padding: 3%2%;
}

.resorttitletext {
  text-align: center;
  font-weight: 600;
  font-size: 250%;
}

.resortstatscont {
  background-color: rgb(212, 233, 229);
  padding: 3%2%;
}

.resortstatstitle {
  font-size: 200%;
  text-align: center;
}

.resortinfotitle {
  font-size: 200%;
  text-align: center;
}

.resortinfocont {
  background-color: rgb(198, 191, 216);
  padding: 3%2%;
}

.resortdescriptioncont {
  background-color: tan;
  padding: 3%2%;
}

.resortdescriptiontext {
  font-style: italic;
  text-align: center;
}

.resortdescriptiontitle {
  font-size: 200%;
  text-align: center;
}

.resortreviewwrapper {
  border: 1px solid black;
  padding: 1%1%;
  background-color: whitesmoke;
}

.addreviewbtn {
  border: 1px solid black;
  background-color: rgb(24, 190, 24);
  width: 50%;
  text-align: center;
  margin-top: 5%;
  margin-left: 25%;
}

.addreviewbtn:hover {
  cursor: pointer;
}
