.headerbg {
  background-color: black;
  padding: 1%2%;
  margin-bottom: 0%;
  color: white;
}

.headerlink {
  text-align: center;
  width: 100%;
  font-size: 195%;
  padding: 10%0%;
}

.headerlink:hover {
  cursor: pointer;
  color: rgb(160, 160, 160);
}

.dehazeicon {
  width: 50%;
  margin-top: 30%;
  margin-left: 25%;
}

.dehazehover:hover {
  cursor: pointer;
}

.dropdownmodal {
  text-align: center;
  width: 75%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  margin: 25%12%;
  font-size: 200%;
}

.modaloption:hover {
  cursor: pointer;
  color: lightgray;
}
